*  {
  background-image: url("school.png");
  font-family: "Comic Sans MS";
  color: #3AB0D3;
  font-size: large;
}

.panel-title {

  font-family: "Comic Sans MS";
  color: #3AB0D3;

}

.completed,
.success,
.bump,
.instructor {

  float: right;
}
